.popup__container {
  background: #fff;
  width: 282px;
  padding: 25px 0;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .popup__container {
    width: 430px;
    padding: 34px 0 37px;
  }
}
