.form__title {
  margin: 0;
  text-align: left;
  width: calc(0.81011 * 100% + 9.3514px);
  font: normal 900 18px/1.2 'Inter', Arial, sans-serif;
}

@media (min-width: 600px) {
  .form__title {
    font: normal 900 24px/1.2 'Inter', Arial, sans-serif;
  }
}
