.footer__copy {
  /* Мучительно больно расставаться с моими линейными функциями для вычисления размеров. Они так здорово позволяют
   * избавиться от медиа-запросов. Но, похоже, что они и правда не лучшая практика. В дальнейшем постараюсь их
   * избегать. */
  padding: min(calc(0.019792 * 100vw + 41.66668px), 67px) 0 min(calc(0.025 * 100vw + 28px), 60px) 19px;
  margin: 0;
  color: #545454;
  font: normal normal min(calc(0.004167 * 100vw + 12.6668px), 18px)/1.2 'Inter', sans-serif;
}

@media (min-width: 880px) {
  .footer__copy {
    padding-left: 0;
  }
}
